[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
setuptools = "*"
nose = "*"
cython = "*"
numpy = ">=1.9.0"
scipy = ">=0.14.1"
scikit-learn = ">=0.21.0,<0.22"
lockfile = "*"
joblib = "*"
psutil = "*"
pyyaml = "*"
liac-arff = "*"
pandas = "*"
configspace = ">=0.4.0,<0.5"
pynisher = ">=0.4.2"
pyrfr = ">=0.7,<0.9"
smac = "==0.8"
jupyter = "*"
auto-sklearn = {path = "/home/dobachi/Downloads.win/auto-sklearn-master.zip"}

[requires]
python_version = "3.7"
